@model Order

@{
    ViewData["Title"] = "GetDetail";
}

<div style="width:100%" class="mt-2">
        <h1>Detail of Order Number :  @Model.Id </h1>
    <a asp-action="UserOrders" class="btn btn-primary my-2">Back</a>
        <table class="table table-striped">
            
            <tr>
                <th>Item</th>
                <th>Image</th>
                <th>Category</th>
                <th>Unit Price($)</th>
                <th> Price</th>
            </tr>
            @foreach (var o in Model.OrderDetail)
            {
                <tr>
                    <td>@o.Item.Name</td>
                    <td>
                        @if (string.IsNullOrEmpty(o.Item.Cover))
                        {
                            <img src="/assets/images/NoImage.png" style="width:80px;height:100px" />
                        }
                        else
                        {
                            <img src="/assets/images/items/@o.Item.Cover" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@o.Item.Category.Name</td>
                    <td>@o.Item.Price X @o.Quantity</td>
                    <td>@(o.Item.Price * o.Quantity) $ </td>
                </tr>
               
            }
        <tr>
            <td>
                Total Price:
            </td>
            <td>
                @(Model.OrderDetail.Select(b => b.Item.Price * b.Quantity).Sum()) $ 

            </td>
        </tr>
        </table>
</div>