@model OrderDetailModalDTO


<div class="modal" tabindex="-1" id="modal-@Model.DivId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantiy</th>
                        <th>TotalPrice</th>
                    </tr>
                    @foreach (var item in Model.OrderDetail)
                    {
                        <tr>
                            <td>@item.Item.Name</td>
                            <td>@item.Item.Category.Name</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity * item.UnitPrice)</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
        </div>
    </div>
</div>
