@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto" class="mt-2">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <h5>My Cart</h5>

        <table class="table table-striped">
            <tr>
                <th>Book</th>
                <th>Image</th>
                <th>Category</th>
                <th>Unit Price(INR)</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            @foreach (var i in Model.CartDetails)
            {
                <tr>
                    <td>@i.Item.Name</td>
                    <td>
                        @if (string.IsNullOrEmpty(i.Item.Cover))
                        {
                            <img src="/assets/images/NoImage.png" style="width:80px;height:100px" />
                        }
                        else
                        {
                            <img src="/assets/images/items/@i.Item.Cover" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@i.Item.Category.Name</td>
                    <td>@i.Item.Price X @i.Quantity</td>
                    <td>@(i.Item.Price * i.Quantity)</td>
                    <td>
                        @* Increase Quantity button *@
                        <a class="btn btn-info" href="/Cart/AddItem?itemId=@i.ItemId&&redirect=1">+</a>
                        @* Decrement button *@
                        <a class="btn btn-info" href="/Cart/RemoveItem?itemId=@i.ItemId">-</a>

                    </td>
                </tr>
            }
        </table>

        <div class="my-2">
            <h5>Total(INR): </h5>
            @(Model.CartDetails.Select(i => i.Item.Price * i.Quantity).Sum())
        </div>

        <div class="my-2">
                <a class="btn btn-primary"  asp-action="Checkout">Checkout</a>
        </div>

    }
    else
    {
        <h5>Cart is empty</h5>
    }
</div>